.row {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
  min-height: 100vh;
}

[class*="-list"] {
  @include flex;
  float: left;
  width: 100%;
  &>* {
  	box-sizing:border-box;
    width: (100% / 3);
    padding: 20px;
    float: left;
    @include mediaquery('max', $medium){
			width: (100% / 2);
    }
    @include mediaquery('max', $small){
			width: (100% / 1);
    }    
  }
}