@import 'mixins';
@import 'fonts';
@import 'settings';
@import 'loader';
@import 'grid';

/*--- GENERALS ---*/

body {
  font-family: $family-serif, Arial, sans-serif;
  font-size: 100%;
  @include smoothfonts;
  background: white;
  color: $black;
}


/*-- RESET --*/

button,
input {
  font-family: $family-serif, Arial, sans-serif;
}

button {
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-shadow: none;
  box-shadow: none;
  background: $black;
  cursor: pointer;
  &:focus {
    outline: 0;
  }
}


/*--- SEARCH BAR ---*/

.search-bar {
  background: $black;
  padding: 30px 0;
  text-align: center;
  @include clearfix;
  .inner-margin>* {
    display: block;
    float: left;
    &:nth-child(2) {
      width: calc(100% - 110px);
      box-sizing: border-box;
      padding: 0 0 0 30px;
      margin-top: 7px;
    }
    &:nth-child(3) {
      margin-top: 7px;
    }
  }
  img {
    width: 50px;
    height: auto;
  }
  .inner-margin {
    max-width: 600px;
    width: 90%;
    margin: 0 auto;
  }
}

.input-search {
  display: block;
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  background: $black;
  border: 1px solid rgba(white, 0.7);
  padding: 10px;
  color: white;
  font-size: 1.25em;
  margin: 0 auto;
  transition: all 100ms ease-in-out;
  @include placeholder {
    color: rgba(white, 0.5)
  }
  &:focus {
    outline: 0;
    border-bottom-width: 3px;
    padding-bottom: 8px;
  }
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px $black inset;
    -webkit-text-fill-color: white;
  }
}

.search-btn {
  height: 40px;
  width: 60px;
  float: left;
  box-sizing: border-box;
  font-size: 0;
  border: 1px solid white;
  background: url(../assets/ico-search.svg) no-repeat;
  background-size: 23px;
  background-position: center;
  background-color: white;
  &:focus {
    outline: 0;
    background: url(../assets/ico-search.svg) no-repeat;
    background-size: 23px;
    background-position: center;
    background-color: white;
    background-color: rgba(white, 0.95);
  }
}


/*-- CONTAINERS --*/

.wrap-top-containers {
  @include clearfix;
}

.repositories-list,
.subscribers-list {
  padding: 10px 0 30px 0;
}

.subscribers-list {
  display: none;
}

.title {
  letter-spacing: 0px;
  font-weight: normal;
  margin-bottom: 0;
  text-transform: capitalize;
  font-weight: 300;
  color: rgba($black, 0.7);
  font-size: 1.5em;
  text-align: center;
  margin-top: 30px;
  span {
    color: rgba($black, 1);
    display: block;
    font-size: 1.6em;
    line-height: 1;
    font-weight: 400;
  }
}

.back-btn {
  position: absolute;
  display: none;
  height: 30px;
  width: 30px;
  padding: 0;
  border: 0;
  border-radius: 100%;
  margin-right: 20px;
  margin-top: 20px;
  box-sizing: border-box;
  background: url(../assets/ico-back.svg) no-repeat;
  background-color: $green;
  background-size: 20px;
  background-position: center;
  font-size: 0;
  color: rgba($black, 0.3);
}


/*-- MESSAGES --*/

.messages {
  text-align: center;
  font-size: 1.5em;
  color: lighten($black, 40%);
  span {
    color: $black;
  }
}


/*-- PAGINATION --*/

.pagination-repos {
  text-align: center;
  span {
    display: inline-block;
    width: 36px;
    height: 36px;
    padding: 0 10px;
    margin: 10px;
    border-radius: 20px;
    background: $black;
    line-height: 36px;
    color: white;
    text-transform: uppercase;
    @include userselectnone;
    &.active-pag {
      background: $green;
      color: $black;
      pointer-events: none;
    }
  }
}

.link-pag {
  cursor: pointer;
}


/*--- REPOSITORY ITEM ---*/

.inner-padding {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px 20px 60px 20px;
  box-sizing: border-box;
  background: white;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
  @include clearfix;
}

.language {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  min-height: 28px;
  padding: 5px;
  box-sizing: border-box;
  background: rgba($black, 0.6);
  text-align: center;
  color: white;
  font-weight: 300;
  text-transform: uppercase;
}

.user {
  float: left;
  width: 50%;
  min-height: 130px;
  padding: 0 20px 0 0px;
  margin-top: 0;
  box-sizing: border-box;
}

.avatar {
  position: relative;
  width: 70px;
  height: 70px;
  overflow: hidden;
  border-radius: 100%;
  border: 1px solid #f1f1f1;
  margin: 0 auto;
  @include mask(#74849e, 0.2);
  img {
    width: 100%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
}

.name-login {
  margin-top: 10px;
  text-align: center;
  line-height: 1;
  color: rgba($black, 0.5);
  font-size: 1.1em;
  font-weight: 400;
  overflow-wrap: break-word;
}

.stats {
  float: right;
  width: 50%;
  padding: 23px 0 10px 10px;
  border-left: 1px solid #f1f1f1;
  box-sizing: border-box;
  text-align: right;
}

.repo-info {
  float: left;
  width: 100%;
  margin-top: 15px;
}

.repo-title {
  display: block;
  padding-right: 20px;
  margin-bottom: 10px;
  color: $black;
  font-size: 1.8em;
  line-height: 0.85;
  text-decoration: none;
  overflow-wrap: break-word;
  transition: opacity 200ms ease-in-out;
  &:hover {
    opacity: 0.6;
  }
}

.description {
  position: relative;
  height: 35px;
  font-family: $family-sans;
  line-height: 1.25;
  font-size: 0.8em;
  color: rgba($black, 0.5);
  overflow: hidden;
  &:after {
    content: "";
    position: absolute;
    display: block;
    z-index: 1;
    width: 100%;
    height: 20px;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, white 0%, rgba(255, 255, 255, 0) 100%);
  }
}

.label-data {
  font-family: $family-sans;
  font-size: 0.7em;
  text-transform: uppercase;
  color: rgba($black, 0.5);
  padding-left: 45px;
}

.forks-data,
.watchers-data {
  font-size: 2.1em;
  font-weight: 300;
  line-height: 1;
  overflow-wrap: break-word;
  padding-left: 45px;
}

.forks-data {
  color: $green;
  background: url(../assets/ico-fork.svg) no-repeat;
  background-position: 0 center;
}

.watchers-data {
  color: $pink;
  background: url(../assets/ico-watcher.svg) no-repeat;
  background-position: 0 center;
}

//---FOOTER ITEM
.item-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba($black, 0.1);
  padding: 10px 20px;
  box-sizing: border-box;
  transition: background 200ms ease-in-out;
  &:hover {
    background: rgba($black, 0.2);
  }
}

.subscribers-link,
.repositories-link {
  cursor: pointer;
  text-transform: uppercase;
  padding-left: 30px;
  background: url(../assets/ico-list.svg) no-repeat;
  color: $black;
  text-decoration: none;
}

//---ITEM SUBSCRIBER
.item-subscriber {
  .avatar {
    float: left;
    img{
          -webkit-filter: grayscale(0);
    filter: grayscale(0);
    }
  }
  .subscriber-name {
    float: left;
    color: $black;
    font-size: 1.5em;
    line-height: 0.85;
    overflow-wrap: break-word;
    width: calc(100% - 80px);
    padding-left: 20px;
    box-sizing: border-box;
    margin-top: 18px;
  }
}


/*-- FOOTER --*/

.footer {
  float: left;
  margin-top: 100px;
  height: 100px;
  width: 100%;
  padding: 5%;
  background: rgba($black, 0.09);
  text-align: center;
  color: rgba($black, 0.5);
}